.svg {
  margin-top: 16px;
}

.path {
  background: chartreuse;
  stroke-dasharray: 2327.7;
  stroke-dashoffset: 2327.7;
  animation: sign 2.5s cubic-bezier(0.33, 0.4, 0.96, 0.6);
  animation-fill-mode: forwards;

  @keyframes sign {
    to {
      stroke-dashoffset: 0;
    }
  }
}
