@import "@styles/variables/all";
@import "@styles/mixins/all";

$borderradius: 10px;

.card {
  display: flex;
  flex-direction: column;
  height: 522px;
  //max-width: $md;
  width: 100%;
  //background: $color-paper;
  border-radius: $borderradius;
  box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.2);

  //transition: width 0.5s ease;
  @include media-md-xxl() {
    flex-direction: row;
    height: 100%;
    min-height: 300px;
  }

  @include media-xxl() {
    flex-direction: row;
    height: 100%;
    min-height: 300px;
  }
}

.card.flip {
  @include media-md-xxl() {
    flex-direction: row-reverse;
  }

  @include media-xxl() {
    flex-direction: row-reverse;
  }
}

.cardimage {
  object-fit: cover;
  border-radius: $borderradius $borderradius 0 0;
  width: 100%;
  height: 50%;

  @include media-md-xxl() {
    border-radius: $borderradius 0 0 $borderradius;
    width: 50%;
    height: 100%;
  }

  @include media-xxl() {
    border-radius: $borderradius 0 0 $borderradius;
    width: 50%;
    height: 100%;
  }
}

.cardimage.flip {
  @include media-md-xxl() {
    border-radius: 0 $borderradius $borderradius 0;
  }

  @include media-xxl() {
    border-radius: 0 $borderradius $borderradius 0;
  }
}

.cardcontent {
  background: $color-paper;
  color: $color-papertext;
  box-sizing: border-box;
  padding: 1rem 3rem 2rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  font-size: 14px;

  border-radius: 0 0 $borderradius $borderradius;

  @include media-md-xxl() {
    text-align: left;
    width: 50%;
    height: 100%;
    border-radius: 0 $borderradius $borderradius 0;

    h2 {
      font-size: 32px;
    }
  }

  @include media-xxl() {
    text-align: left;
    width: 50%;
    height: 100%;
    border-radius: 0 $borderradius $borderradius 0;
    h2 {
      font-size: 32px;
    }
  }
}

.cardcontent.flip {
  @include media-md-xxl() {
    border-radius: $borderradius 0 0 $borderradius;
  }

  @include media-xxl() {
    border-radius: $borderradius 0 0 $borderradius;
  }
}
