@import "@styles/mixins/all";
@import "@styles/variables/all";

.container {
  display: flex;
  justify-content: center;
  max-width: 98vw;
}

.table {
  //background: rgb(161, 35, 35);
  //overflow: auto;
  overflow-x: scroll;
  background: #333;
  //margin: auto;
}

.tablerow {
  display: flex;
  //justify-content: flex-start;
  //background: #000;
  //background: #fff;
  //width: 100%;
  //background: #f00;
  margin: 1px 0 0 0;
  &:hover {
    font-weight: 700;
  }
}

.textpadding {
  padding: 0 0.5rem 0 0;
}

.item {
  position: relative;
  min-width: 8rem;
  //background: rgb(221, 107, 107);
  background: #fff;
  //padding: 2px 16px 2px 2px;
  margin: 0 1px 0 0;
  padding: 0 0.5rem 0 0;
  text-align: right;
  //font-weight: 400;
  font-family: $font-mono;
}
