@import "@styles/mixins/all";
@import "@styles/variables/all";

.container {
  display: flex;
  justify-content: center;
  max-width: 98vw;
}

.table {
  //background: rgb(161, 35, 35);
  overflow: auto;
  margin: auto;
}

.tablerow {
  display: flex;
  //justify-content: flex-start;
  //background: #000;
  //background: #fff;
  background: #555;
  &:hover {
    font-weight: 700;
  }
}

.item {
  position: relative;
  min-width: 8rem;
  //background: rgb(221, 107, 107);
  background: #fff;
  //padding: 2px 16px 2px 2px;
  margin: 1px 1px 0 1px;
  text-align: right;
  //font-weight: 400;
  font-family: $font-mono;
}
